@model List<Sistema_de_Cursos.Models.Curso>

    <h2>Cursos</h2>

    <a asp-action="Criar" class="btn btn-primary">Novo Curso</a>

    <table class="table mt-3">
        <tr>
            <th>Nome</th>
            <th>Tipo de Curso</th>
            <th>Quantidade de horas</th>
            <th>Preco calculado</th>
            <th>Acoes</th>
        </tr>

        @foreach(var curso in Model)
        {
            <tr>
                <td>@curso.Nome</td>
                <td>@curso.GetType().Name</td>
                <td>@curso.Horas</td>
                <td>@curso.CalcularPreco()</td>
                <td>
                    <a asp-action="Deletar" asp-route-id = "@curso.Id" class="btn btn-danger">Exluir</a>
                </td>
            </tr>
        }
    </table>